:root {
    --primary: #7289da
}

body {
    user-select: none;
    overflow: hidden;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: roboto, sans-serif;
    text-align: centere
}

body::before {
    content: "";
    pointer-events: none;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.50) 50%);
    background-size: 100% 2px;
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0
}

img {
    -webkit-user-drag: none;
    display: block
}

a {
    transition: ease .3s;
    transition-property: background, color, border;
    color: #fff;
    border: 1px solid #fff;
    border-radius: .25rem;
    display: block;
    padding: 1.15rem 1rem;
    text-decoration: none;
    letter-spacing: .1rem
}

a:hover {
    background: #fff;
    color: #000
}

a.primary {
    color: var(--primary);
    border: 1px solid var(--primary)
}

a.primary:hover {
    background: var(--primary);
    color: #fff
}

a i {
    margin-right: .5rem
}

#credits {
    color: #949494;
    position: fixed;
    transform: translateX(calc(-50% - .05rem));
    bottom: 2rem;
    left: 50%;
    letter-spacing: .1rem
}

.content-title {
    transform: translateX(.5rem);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem
}

.content-subtitle {
    margin-top: .5rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 100;
    letter-spacing: .1rem;
    line-height: 2rem
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem
}

.buttons a {
    margin: .25rem .5rem
}

.primary {
    color: var(--primary)
}

#background {
    background: #0e0e0ed9;
    z-index: -1;
    transform: scale(1.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#background-video {
    border: 0;
    z-index: -2;
    transform: translate(-50%, -50%) scale(1.2);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%
}